<div id="<%= dom_id tile %>">
  <p>
    <strong>Word:</strong>
    <%= tile.word %>
  </p>

  <p>
    <strong>Color:</strong>
    <%= tile.color %>
  </p>

  <p>
    <strong>Solution set:</strong>
    <%= tile.solution_set %>
  </p>

</div>
